body{
    font-family: YekanBakh;
}
@font-face {
    font-family: YekanBakh;
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/YekanBakh-Bold.bbd877a3.woff') format('woff');
}
@font-face {
    font-family: YekanBakh;
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/YekanBakh-Medium.f7360956.woff') format('woff');
}
.w_inherit
{
    width: inherit;
}
#darkModeBtn:active
{

    transform: translateY(-10px);
    transition: all 0.1s ease-in-out;
}
#lightModeBtn:active
{
    transform: translateY(-10px);
    transition: all 0.1s ease-in-out;

}
#lightModeAlert,#darkModeAlert
{
    top: 1.2rem;
    right: 25rem;
}
